---
---

@import "minima";

header {
  color: #bfabcc;
  background-color: #b5d1cc;
}

body {
  color: #6b4e7e;
  background-color: whitesmoke;
}

footer {
  color: #b5d1cc;
  background-color: #b5d1cc;
}

.a {
  padding: 5%;
  width: 660px;
  height: 40px;
  margin-left: 0px;
}

.b {
  padding: 5%;
  width: 660px;
  height: 20px;
  margin-left: 0px;
}

.c {
  padding: 5%;
  width: 660px;
  height: 700px;
}

canvas {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  width: 50%;
  height: 50%;
  text-align: center;
}
