---
layout: default
---

<div class="home">
    <h2>Recent projects</h2>
    <div class="wrapper">
        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for project in projects %}
                <a color="#FFCFC4" href="{{ project.url | relative_url }}">{{ project.title }}
                </a>
                <p>{{ project.description }}</p>
        {% endfor %}
    </div>
    <h3>Other diversions</h3>
    <div class="wrapper">
        <p>
        <a href='https://mopwatercake.fail'>My alleged recipe blog</a> which is mostly a construction zone right now, featuring some very vintage hand-hacked vibes and, at time of writing, no actual recipes.  There are pictures of cute plants though.
        </p>
    </div>
</div>
